[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
log-error=/tmp/mysql.log
user=root
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
datadir = {{MYSQL_DATA_DIR}}
port = {{MYSQL_PORT}}
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER